apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  releaseName: traefik
  chart:
    spec:
      chart: traefik
      version: "^38.0.2"
      sourceRef:
        kind: HelmRepository
        name: traefik
  interval: 1h
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
  values:
    ports:
      web:
        port: 80
      websecure:
        port: 443
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dashboard.localhost`)
        entryPoints:
          - web
          - websecure
    providers:
      kubernetesGateway:
        enabled: true
        experimentalChannel: false
    gateway:
      listeners:
        web:
          port: 80
          namespacePolicy:
            from: All
        websecure:
          port: 443
          protocol: TLS
          mode: Passthrough
          namespacePolicy:
            from: All
    additionalArguments:
      - --certificatesresolvers.cloudflare.acme.email=${CLOUDFLARE_EMAIL}
      - --certificatesresolvers.cloudflare.acme.storage=/data/acme.json
      - --certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare
      - --entrypoints.websecure.http.tls.certresolver=cloudflare
      - --entrypoints.websecure.http.tls.domains[0].main=ducknet.io
      - --entrypoints.websecure.http.tls.domains[0].sans=*.ducknet.io
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entryPoint.permanent=true
    env:
      - name: CLOUDFLARE_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-dns-credentials
            key: CLOUDFLARE_DNS_API_TOKEN
      - name: CLOUDFLARE_EMAIL
        valueFrom:
          secretKeyRef:
            name: cloudflare-dns-credentials
            key: CLOUDFLARE_EMAIL
