filebeat:
  # List of inputs.
  inputs:
    {{ filebeat_inputs | to_json }}

# Configure what outputs to use when sending the data collected by the beat.
# Multiple outputs may be used.
output:
  kafka:
    hosts: [
      {% for host in groups['kafka'] %}
        {{ host }}:9092,
      {% endfor %}
      ]

    topic: linux-syslog
    required_acks: 1
    compression: gzip

{% if filebeat_enable_logging %}
logging:
  ### Filebeat log
  level: {{ filebeat_log_level }}

  # Enable file rotation with default configuration
  to_files: true

  # Do not log to syslog
  to_syslog: false

  files:
    path: {{ filebeat_log_dir }}
    name: {{ filebeat_log_filename }}
    keepfiles: 7
{% endif %}
