apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
spec:
  releaseName: external-dns
  chart:
    spec:
      chart: external-dns
      version: "^1.15.0"
      sourceRef:
        kind: HelmRepository
        name: external-dns
  interval: 1h
  install:
    remediation:
      retries: 3
  values:
    fullnameOverride: external-dns
    logLevel: &logLevel info
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.8.1
        env:
          - name: UNIFI_HOST
            value: https://unifi.ducknet.io
          - name: UNIFI_SKIP_TLS_VERIFY
            value: "true"
          - name: UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: external-dns-unifi-api-key
                key: api-key
          - name: LOG_LEVEL
            value: *logLevel
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    extraArgs:
      - --ignore-ingress-tls-spec
    policy: upsert-only
    sources:
      - service
      - gateway-httproute
    txtOwnerId: homelab
    txtPrefix: k8s.
    domainFilters:
      - ducknet.io
